/* Fonts by : http://www.fontsquirrel.com/fonts/Caviar-Dreams */
@font-face{
	font-family: CaviarDreams;
	src: url("fonts/CaviarDreams.ttf");
}
@font-face{
	font-family: CaviarDreamsBold;
	src: url("fonts/Caviar_Dreams_Bold.ttf");
}
#page_1{
	background: #FF6C00;
}
.h_big-bar{
	float:left;
	background:#000000;
	height: 80px;
	width: 100%;
}
.h_main{
	float:left;
	background: #AA0000;
	width:80%;
	height: 100%;
	
	color: #7A0900;
	text-align: center;
	font-size: 50px;
	text-shadow: 1px 1px 2px #FF7800, -2px -2px 1px #000000;
	
	line-height: 80px;
	font-family: CaviarDreamsBold;
}
.h_right{
	float:left;
	background: #660000;
	width: 20%;
	height: 100%;
	
	text-align: center;
	font-size: 30px;
	
	line-height: 80px;
	font-family: CaviarDreams;
}

.f_left{
	float:left;
	background: #BB0000;
	width:50%;
	height: 100%;
	
	text-align: center;
	font-size: 30px;
	
	line-height: 80px;
	font-family: CaviarDreams;
}
.f_right{
	float:left;
	background: #AA0000;
	width: 50%;
	height: 100%;
	
	text-align: center;
	font-size: 30px;
	
	line-height: 80px;
	font-family: CaviarDreams;
}

#a_total{
	width: 100%;
	height: 260px;
	background: #FFB640;
	
}
#text_counter{
	display:block;
	/*border-radius: 15px;*/
	width: 30px;
	height: 30px;
	background-color:#660000;
	
	position:relative;
	top:4px;
	left:4px;
	
	text-align: center;
	color:#FFFF00;
	font-size: 26px;
	/*line-height:30px;*/
	/*text-shadow: 1px 1px 1px #FFA5A6, -1px -1px 1px #000000;*/
	
	font-family: CaviarDreams;
}
#total_address{
	display:block;
	margin-top:-20px;
	color:#A75600;
	text-align: center;
	text-shadow: 1px 1px 1px #FFA5A6, -1px -1px 1px #000000; 
	
	font-size: 26px;
	line-height: 36px;
	
	padding-top: 30px; 
	font-family: CaviarDreams;
}

#a_total_L{
	width: 100%;
	height: 100%;
}
.address_one{
	width:100%;
	height:260px;
	/*display:block;*/
	background: #FFB640;
	
	margin-top: 20px;
	
	color:#A75600;
	text-align: center;
	text-shadow: 1px 1px 1px #FFA5A6, -1px -1px 1px #000000; 
	
	font-size: 26px;
	line-height: 36px;
	
	padding-top: 30px; 
	font-family: CaviarDreams;
}
.btnSave{
	width: 150px;
	height: 30px;
	display: block;
	position: relative;
	left: 650px;
	top: 10px;
	
	background: #FFCC40;
	
	color: #000000;
	font-size: 16px;
	line-height: 26px;
	
	text-decoration: none;
}